common-das/src/main/webapp/META-INF/wsdl/OSB_SOA_COM_HQ_UpdateServiceConfigSrv/OSB_SOA_COM_HQ_UpdateServiceConfigSrv.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- this file was generated by vis LightESB %3$s -->
<!-- 2018-01-26 15:37:08 -->
<!-- Generated file version: 1.0.0 -->
<!-- Copyright (c) 2004-2018  -->
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://soa.haid.com/OSB_SOA_COM_HQ_UpdateServiceConfigSrv"
	xmlns:tns="http://soa.haid.com/OSB_SOA_COM_HQ_UpdateServiceConfigSrv"
	xmlns:msg="http://soa.haid.com/MsgHeader"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="InputParameters" type="tns:InputParameters"/>
	<element name="OutputParameters" type="tns:OutputParameters"/>
    <complexType name="InputParameters">
     <sequence>
       <element name="INPUTCOLLECTION" type="tns:INPUTCOLLECTION"  />
     </sequence>
    </complexType>
    <complexType name="INPUTITEM">
     <sequence>
       <element name="SERVICE_NAME" type="string" nillable="true" />
       <element name="SERVICE_VERSION" type="string" nillable="true" />
       <element name="CONFIG_TYPE" type="string" nillable="true" />
     </sequence>
    </complexType>
    <complexType name="INPUTCOLLECTION">
     <sequence>
       <element name="INPUTITEM" type="tns:INPUTITEM" minOccurs="0" maxOccurs="unbounded" />
     </sequence>
    </complexType>
    <complexType name="OutputParameters">
     <sequence>
        <element name="SERVICE_FLAG" type="string" nillable="true" />
        <element name="SERVICE_MESSAGE" type="string" nillable="true" />
        <element name="INSTANCE_ID" type="string" nillable="true" />
       </sequence>
    </complexType>
</schema>