common-das/src/main/webapp/META-INF/wsdl/OSB_BP_SOA_HQ_InquiryServiceTokenSrv/OSB_BP_SOA_HQ_InquiryServiceTokenSrv.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- this file was generated by vis LightESB 3.0.0 -->
<!-- 2018-03-22 11:43:06 -->
<!-- Generated file version: 1.0.0 -->
<!-- Copyright (c) 2004-2018  -->
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://soa.haid.com/OSB_BP_SOA_HQ_InquiryServiceTokenSrv"
	xmlns:tns="http://soa.haid.com/OSB_BP_SOA_HQ_InquiryServiceTokenSrv"
	xmlns:msg="http://soa.haid.com/MsgHeader"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://soa.haid.com/MsgHeader" schemaLocation="MsgHeader.xsd"/>
	<element name="InputParameters" type="tns:InputParameters"/>
	<element name="OutputParameters" type="tns:OutputParameters"/>
    <complexType name="InputParameters">
     <sequence>
       <element name="MSGHEADER" type="msg:MSGHEADER"  />
       <element name="SYSTEM_CODE" type="string"  />
       <element name="PROVINCE_CODE" type="string"  />
       <element name="CURRENT_TOKEN" type="string"  />
       <element name="QUERY_EXT" type="string" nillable="true" />
       <element name="LAST_UPDATE_START" type="dateTime" nillable="true" />
       <element name="LAST_UPDATE_END" type="dateTime" nillable="true" />
     </sequence>
    </complexType>
    <complexType name="OutputParameters">
     <sequence>
        <element name="ESB_FLAG" type="string" nillable="true" />
        <element name="ESB_RETURN_CODE" type="string" nillable="true" />
        <element name="ESB_RETURN_MESSAGE" type="string" nillable="true" />
        <element name="BIZ_SERVICE_FLAG" type="string" nillable="true" />
        <element name="BIZ_RETURN_CODE" type="string" nillable="true" />
        <element name="BIZ_RETURN_MESSAGE" type="string" nillable="true" />
        <element name="INSTANCE_ID" type="string" nillable="true" />
        <element name="OUTPUTCOLLECTION" type="tns:OUTPUTCOLLECTION"  />
       </sequence>
    </complexType>
    <complexType name="OUTPUTCOLLECTION_ITEM">
     <sequence>
        <element name="NEW_TOKEN" type="string" nillable="true" />
        <element name="INVALID_PERIOD" type="dateTime" nillable="true" />
        <element name="OUTPUT_EXT" type="string" nillable="true" />
       </sequence>
    </complexType>
    <complexType name="OUTPUTCOLLECTION">
     <sequence>
        <element name="OUTPUTCOLLECTION_ITEM" type="tns:OUTPUTCOLLECTION_ITEM" minOccurs="0" maxOccurs="unbounded" />
       </sequence>
    </complexType>
</schema>