common-das/src/main/webapp/META-INF/wsdl/OSB_STLKD_DB_HQ_InsertCvsaleFM/OSB_STLKD_DB_HQ_InsertCvsaleFM.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- 2020-05-15 17:41:43 -->
<!-- Generated file version: V0.1 -->
<!-- Copyright (c) 2004-2020  -->
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://soa.haid.com/OSB_STLKD_DB_HQ_InsertCvsaleFM"
	xmlns:tns="http://soa.haid.com/OSB_STLKD_DB_HQ_InsertCvsaleFM"
	xmlns:msg="http://soa.haid.com/MsgHeader"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://soa.haid.com/MsgHeader" schemaLocation="MsgHeader.xsd"/>

	<element name="InputParameters" type="tns:InputParameters"/>
	<element name="OutputParameters" type="tns:OutputParameters"/>
    
	<complexType name="InputParameters">
     <sequence>
       <element name="MSGHEADER" type="msg:MSGHEADER"  />
       <element name="INPUTCOLLECTION" type="tns:INPUTCOLLECTION"  />
     </sequence>
    </complexType>
    
	<complexType name="INPUTCOLLECTION_ITEM">
     <sequence>
       <element name="INPUT_JSON" type="string"  />
     </sequence>
    </complexType>
    
	<complexType name="INPUTCOLLECTION">
     <sequence>
       <element name="INPUTCOLLECTION_ITEM" type="tns:INPUTCOLLECTION_ITEM" minOccurs="0" maxOccurs="unbounded" />
     </sequence>
    </complexType>
     
	<complexType name="OutputParameters">
     <sequence>
        <element name="ESB_FLAG" type="string" nillable="true" />
        <element name="ESB_RETURN_CODE" type="string" nillable="true" />
        <element name="ESB_RETURN_MESSAGE" type="string" nillable="true" />
        <element name="BIZ_SERVICE_FLAG" type="string" nillable="true" />
        <element name="BIZ_RETURN_CODE" type="string" nillable="true" />
        <element name="BIZ_RETURN_MESSAGE" type="string" nillable="true" />
        <element name="INSTANCE_ID" type="string" nillable="true" />
        <element name="OUTPUT_JSON" type="string" nillable="true" />
       </sequence>
    </complexType>
</schema>