common-das/src/main/webapp/META-INF/wsdl/OSB_SOA_COM_HQ_InquiryServiceConfigSrv/OSB_SOA_COM_HQ_InquiryServiceConfigSrv.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- this file was generated by vis LightESB 3.0.0 -->
<!-- 2018-04-17 13:15:47 -->
<!-- Generated file version: 1.0.0 -->
<!-- Copyright (c) 2004-2018  -->
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://soa.haid.com/OSB_SOA_COM_HQ_InquiryServiceConfigSrv"
	xmlns:tns="http://soa.haid.com/OSB_SOA_COM_HQ_InquiryServiceConfigSrv"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="InputParameters" type="tns:InputParameters"/>
	<element name="OutputParameters" type="tns:OutputParameters"/>
    <complexType name="InputParameters">
     <sequence>
       <element name="SERVICE_NAME" type="string"  />
       <element name="SERVICE_VERSION" type="string"  />
       <element name="CLIENT_IP" type="string"  />
       <element name="TOKEN_ID" type="string"  />
       <element name="PROVICE_CODE" type="string" nillable="true" />
       <element name="ROUTE_CODE" type="string" nillable="true" />
       <element name="SOURCESYSTEMID" type="string" nillable="true" />
       <element name="USER_ID" type="string" nillable="true" />
       <element name="SUBMIT_DATE" type="string" nillable="true" />
       <element name="TRACE_ID" type="string" nillable="true" />
       <element name="SERVICE_TYPE" type="string" nillable="true" />
       <element name="PAYLOAD_SIZE" type="string" nillable="true" />
       <element name="RESERVED_1" type="string" nillable="true" />
       <element name="RESERVED_2" type="string" nillable="true" />
       <element name="INPUT_EXT" type="string" nillable="true" />
     </sequence>
    </complexType>
    <complexType name="SERVICE_CONFIG_COLLECTION_ITEM">
     <sequence>
        <element name="CONFIG_NAME" type="string" nillable="true" />
        <element name="CONFIG_VALUE" type="string" nillable="true" />
        <element name="CONFIG_SCOPE" type="string" nillable="true" />
       </sequence>
    </complexType>
    <complexType name="OutputParameters">
     <sequence>
        <element name="SERVICE_FLAG" type="string" nillable="true" />
        <element name="SERVICE_MESSAGE" type="string" nillable="true" />
        <element name="ERROR_CODE" type="string" nillable="true" />
        <element name="SERVICE_NAME" type="string" nillable="true" />
        <element name="SERVICE_VERSION" type="string" nillable="true" />
        <element name="IP_ACCECPT_ABLED" type="string" nillable="true" />
        <element name="TOKEN_ACCECPT_ABLED" type="string" nillable="true" />
        <element name="LOG_TYPE" type="string" nillable="true" />
        <element name="LAST_UPDATE_TIME" type="decimal" nillable="true" />
        <element name="OUTPUT_EXT" type="string" nillable="true" />
        <element name="ROUTE_URL" type="string" nillable="true" />
        <element name="RESERVED_1" type="string" nillable="true" />
        <element name="RESERVED_2" type="string" nillable="true" />
        <element name="RESERVED_3" type="string" nillable="true" />
        <element name="RESERVED_4" type="string" nillable="true" />
        <element name="RESERVED_5" type="string" nillable="true" />
        <element name="SERVICE_CONFIG_COLLECTION" type="tns:SERVICE_CONFIG_COLLECTION"  />
       </sequence>
    </complexType>
    <complexType name="SERVICE_CONFIG_COLLECTION">
     <sequence>
        <element name="SERVICE_CONFIG_COLLECTION_ITEM" type="tns:SERVICE_CONFIG_COLLECTION_ITEM" minOccurs="0" maxOccurs="unbounded" />
       </sequence>
    </complexType>
</schema>